body {
    margin: 0px;
    width: 1440px;
}

.header {
    width: 1440px;
    top: 0;
}

.wrapper {
    max-width: 1200px;
    margin-left: 120px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    color: red;
    font-family: Roboto;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
}

.header-menu {
    display: flex;
    width: 450px;
}

.header-menu-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-menu-list-item {
    display: flex;
    align-items: center;
}

.hero-wrapper {
    margin-left: 120px;
    max-width: 1200px;
    display: flex;
}

.survival {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {

}

.hero-text {

}

.main-wrapper {
    margin-left: 120px;
    max-width: 1200px;
}







.wrapper-of-footer {
    margin-left: 120px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-image: url(footerBackground.png);
}

.footer-logo {
    display: flex;
    color: red;
    font-family: Roboto;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
}

.footer-menu {
    display: flex;

}

.footer-menu-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}